<html>
    <head>
        <title>  </title>
        <meta name="viewport" content="width=device-width,initial scale=1">
            <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
            <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css.map">
            <link rel="stylesheet" type="text/css" href="../public/css/bootstrap-theme.css">
            <link rel="stylesheet" type="text/css" href="../public/css/bootstrap-theme.css.map">
            <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
            <link href="../public/fonts/glyphicons-halflings-regular.eot">
            <link href="../public/fonts/glyphicons-halflings-regular.svg">
            <link href="../public/fonts/glyphicons-halflings-regular.ttf">
            <link href="../public/fonts/glyphicons-halflings-regular.woff">
            <link href="../public/fonts/glyphicons-halflings-regular.woff2">
      <link >
    </head>
        <style>
            .jumbotron{
            ;
            }
        </style>
    <body>
        <div class="container">
        <div class="coloumn">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div style="size: 5cm"> <img src="../public/images/download.jfif"> </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="jumbotron" style="size: 5cm"> hello bootstrap </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div style="size: 5cm"> hello bootstrap </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">                        
                    <div> <img src="../public/images/download (1).jfif" style="size: 5cm"> </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row" >
                <div class="col-md-2 col-md-offset-2">
                    <img src="../public/images/download (1).jfif" height="20%%" width="100%">
                </div>
                <div class="col-md-2 col-md-offset-4">
                    <img src="../public/images/download.jfif" height="20%" width="100%">
                </div>
            </div>
            
            <div style="font-family: 'Indie Flower', cursive;" class="col-md-6 col-md-offset-3 jumbotron" style="color:brown; background-color: chartreuse" >
                <p>A paragraph (from the Ancient Greek παράγραφος paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences.

                </p>
                </div>
            
            </div></div>
            <div>
                <p style="font-family: 'Concert One', cursive; size:100px"> hello this is vishwdeep kushwaha </p>
                <li>
                    <ul><span class="glyphicon glyphicon-bitcoin"></span></ul>
                    
                </li>
            </div>
    </div>
    </body>
</html>